<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/css/details.css">
</head>

<body>
    <div class="container">
        <div class="search-box">
            <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
            <form action="" class="search-form">
                <input type="text" placeholder="Search" id="search" autocomplete="off" onkeyup="searchFun()">
            </form>
            <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;" xml:space="preserve">
                <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280" />
                <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280" />
            </svg>
            <div class="go-icon"><i class="fa fa-arrow-right"></i></div>
        </div>

    </div>
    <table class="rwd-table" id="myTable">
        <thead>
            <tr>
                <% for(let x in file[0]){ %>
                    <th>
                        <%= x %>
                    </th>
                    <% } %>
            </tr>
        </thead>
        <tbody>
            <% for(let i of file){ %>
                <tr>
                    <% for(let x in i){ %>
                        <td data-th="<%= x %>">
                            <%= i[x] %>
                        </td>
                        <% } %>
                </tr>
                <% } %>
        </tbody>
    </table>

    <script src="/js/search.js"></script>
</body>

</html>